.about-me-container{
    background-color: rgba(0,0,0,0.2);
    border: solid 7px rgba(0,0,0,0.01);
}
.biography{
    margin: 1.9rem;
    font-size: 1.3rem; font-family: "EB Garamond", serif;

}
.my-photo{
    width: 15rem;
    border-radius: 15px;
    margin-right: 1rem;
    float: left;
}
.like-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
}
ul{
    list-style-type: none;
    padding-left: 1rem;
    margin-bottom: 10rem;
}
li{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
}
ul img{
    margin-right: 0.5rem;
    width: 2rem;
}
.mentions{
    margin-bottom: 2rem;
}