.about-me-container{
    background-color: rgba(0,0,0,0.2);
    border: solid 7px rgba(0,0,0,0.01);
}
.biography{
    display: flex;
    margin-top: 2.5rem;
    margin-left: 1rem;
}
.my-photo{
    width: 15rem;
    border-radius: 15px;
}
