header{
    height: 4.5rem;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.8rem; padding-right: 0.8rem;
}
header p{
    font-size: 1.3rem;
    font-weight: bold;
}
.social img{
    width: 2rem;
}
header a {
    color: black;
    transition: color 0.15s;
}
header a:hover{
    color: rgb(68, 66, 66);
}
header a:active{
    color: gray;
}