header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 0.8rem; padding-right: 0.8rem;
    padding-bottom: 1px;
    z-index: 1000;
}
header p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0.6rem;
}
.social img{
    width: 2rem;
}
header a {
    color: black;
    transition: color 0.15s;
}
header a:hover{
    color: rgb(68, 66, 66);
}
header a:active{
    color: gray;
}
@media only screen and (max-width: 600px){
    header p{
        font-size: 0.8rem;
    }
    .social img{
        width: 1rem;
    }
    header{
        justify-content: space-around;
        padding-left: 0;
    }
}