header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items:center;
    z-index: 1000;
    box-shadow: 1px 0 15px gray;
}
header p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}
.social img{
    width: 2rem;
    margin: 0;
}
header a {
    color: black;
    transition: color 0.15s;
    margin: 0;
}
header a:hover{
    color: rgb(68, 66, 66);
}
header a:active{
    color: gray;
}
.home-container a img{
    padding-top: 4px;
    width: 2rem;
}
@media only screen and (max-width: 600px){
    header p{
        font-size: 0.8rem;
    }
    .social img, .home-container a img{
        width: 1rem;
    }
    header{
        justify-content: space-around;
        padding-left: 0;
    }
}