body{
    background-image: url(../images/space.jpg);
    background-size: 50rem;
}
main{
    font-family: "Protest Strike", sans-serif;

}
.home-container{
    background-color: rgba(0,0,0,0.2);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.full-name{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    padding-top: 10rem;
}
.full-name p{
    margin: 0;
    font-size: 5.9rem;
    font-weight: 900;
}
.name-container{
    margin-bottom: 1rem;
    margin-right: 9rem;
}
.name{
    background-image: url(../images/italia.jpg);
    background-repeat: repeat;
    background-size: 20.7rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.second-name{
    background-image: url(../images/sardinia-flag.png);
    background-position-y: 0.8rem;
    background-size: 10.8rem;
    background-position: -2.2rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.lastname-container{
    margin-bottom: 1rem;
    margin-left: 10rem;
}
.lastname{
    background-image: url(../images/german.jpg);
    background-repeat: repeat;
    background-size: 11.5rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.kinder-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}
.kinder{
    font-size: 2.5rem;
    margin-bottom: 0;
    color: rgb(243, 232, 232);
}
.kinder-container img{
    width: 20rem;
    background-color: transparent;
}
.bg-mention{
    margin-bottom: 2rem;
    display: flex;
}
.bg-mention a{
    color: rgb(175, 175, 233);
    transition: opacity 0.15s;
}
.bg-mention a:hover{
    opacity: 0.7;
}
.bg-mention a:active{
    opacity: 0.4;
}
@media only screen and (min-width:600px) and (max-width:1200px){
    .full-name{
        padding-top: 3rem;
    }
    .full-name p{
        font-size: 8rem;
    }
    .name{
        background-size: 28rem;
    }
    .second-name{
        background-size: 19rem;
        background-position: -0.3rem;
    }
    .lastname{
        background-size: 11.5rem;
        background-position-y: 1rem;
    }
    .kinder{
        font-size: 2.8rem;
        margin-top: 0;
    }
}
@media only screen and (min-width:1201px){
    .full-name{
        padding-top: 3rem;
    }
    .full-name p{
        font-size: 7rem;
    }
    .name{
        background-size:24.5rem;
    }
    .second-name{
        background-size: 16rem;
    }
    .lastname{
        background-size: 11rem;
    }
    .kinder{
        font-size: 2.8rem;
        margin-top: 0;
    }
    .name-container{
        margin-right: 30rem;
    }
    .lastname-container{
        margin-left: 30rem;
    }
}
