
body{
    position: relative;
    font-family: "Chakra Petch";
}
p{

}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: lightblue;
}
a:active{
    opacity: 0.5;
    transition: 0.15s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
