
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 2rem;
    width: 26rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-left: 4rem;
}
span{
    margin-left: 7rem;
}
.grid-container{
    width: 60rem;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5rem;
    margin-bottom: 3rem;
}
.grid-texts{
    border-radius: 6px;
    border: 1px solid rgb(209, 207, 207);
}
.grid-title{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    font-weight: 700;
    font-size: 2rem;
}
.grid-story{
    font-size: 150%;
    width: 65%;
    padding-left: 18%;
}
img{border-radius: 4px;}
.electrician{
    width: 80%;
    height: 80%;
    margin-top: 20%;
    margin-left: 8%;
}
.images-py img{
    width: 20rem;
    height: 30%;
    margin-right: 0;
}
.images-py{

    margin-top: 15%;
    padding-left: 5%;
}
.html-css{
    width:34rem;
    margin-top: 15rem;
}
