.title{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 4rem;
}
.icons8-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    padding-top: 1rem;
}
.icons8{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

}
.icons8 a{
    margin-bottom: 0.5rem;
}
.flaticon-container{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.icons8-author{
    margin-right: 1rem;
}

img{
    width: 1rem;
    margin-left: 0.5rem;
}