header:hover{
    .about-me-container{
        background-color: rgba(0,0,0,0.2);
        border: solid  rgba(0,0,0,0.01);
    }
}

.biography{
    margin: 3rem;
    font-size: 1.3rem; font-family: "EB Garamond", serif;

}
.my-photo{
    width: 15rem;
    border-radius: 15px;
    margin-right: 1rem;
    float: left;
    margin-top: 0.8rem;
}
.like-container{
    display: flex;
    flex-direction: column;
}
.title{
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style-type: none;
    padding: 1rem;
    background-color: rgb(53, 52, 52);
    border-radius: 10px;
}
li{
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
    font-weight: 700;
}
ul img{
    margin-right: 0.5rem;
    width: 2rem;
}
.mentions{
    margin-bottom: 2rem;
}
.gaming{
  color: rgb(216, 8, 8);  
  font-family: "Gaming",serif;
}
.board{
    color: rgb(214, 73, 31);
    font-family: "BoardGames",serif;
}
.music{
    color: rgb(32, 177, 177);
    font-family: "Music",serif;
    font-weight: 400;
}
.chun{
    color: rgb(148, 81, 36);
    font-family: "Wing-Chun",serif;
}
.eat{
    color: rgb(218, 218, 51);
    font-family: "Eating",serif;
}
.dogs{
    color: rgb(231, 132, 93);
    font-family: "Dogs",serif;
    font-size: 2.4rem;
}
.climate{
    color: rgb(36, 167, 36);
    font-family: "Climate-Crisis",serif;
}
.astronomy{
    color: rgb(43, 5, 94);
    font-family: "Space",serif;
}
.mentions{
    position: absolute;
    left: 0; bottom: 0;
    margin: 0;
    z-index: 1001;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Chakra Petch";
    cursor: pointer;
    background-color: transparent;
}
button a{
    color: black;
    transition: color 0.15s;
}
button a:hover{
    color: gray;
}

@media only screen and (min-width:801px){
    .about-me-container{
        background-color: rgba(0,0,0,0.2);
        border: solid 7px rgba(0,0,0,0.01);
    }
    .like-container{
        align-items: center;
    }
    .biography{
        font-size: 1.8rem;
    }
    li{
        font-size: 2.2rem;
    }
    .dogs{
        font-size: 2.8rem;
    }
}
@media only screen and (min-width:1000px){
    .biography{
        margin-top: 2rem;
        margin-bottom: 18rem;
        font-size: 2.5rem;
    }
    .my-photo{
        width: 20rem;
    }
    li{
        font-size: 3rem;
    }
    .dogs{
        font-size: 3.6rem;
    }
    ul{
        padding: 2rem;
    }
    ul img{
        width: 3.5rem;
    }
}