header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 1px 0 15px gray;
}
.hamburger{
    display: none;
}
.hamburger-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}
.social img{
    width: 2rem;
    margin: 0;
}
header a {
    color: black;
    transition: color 0.15s;
    margin: 0;
}
header a:hover{
    color: rgb(68, 66, 66);
}
header a:active{
    color: gray;
}
.home-container a img{
    padding-top: 4px;
    width: 2rem;
}
@media only screen and (max-width: 800px){
    .hamburger{
        display: initial;
        width: 2rem;
    }
    .hamburger-menu{
        justify-content: start;
        background-color:white;
        border-radius: 50px;
        cursor: pointer;
        padding: 5px;
        width: 2rem;
        margin: 0.3rem;
    }
    header{
        width: 12rem;
        flex-direction: column;
        align-items: center;
        left: 0;
        right: 18rem;
        padding-left: 0;
        border-radius: 40px;
        border-top-left-radius: 0;  
        background-color: transparent; 
        box-shadow: none;
    }
    .social,.journey,.bio,.github, .home-container{
        display: none;
    }
    .hamburger-menu:hover{
        flex-direction: column;
        width: 8rem;
        justify-content: space-around;
        align-items: center;
        box-shadow: 1px 0 15px gray;
        border-top-left-radius: 0;
        .hamburger{
            display: none;
        }
        .home-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            padding: 0;
            border-radius: 50%;
        }
        .social,.journey,.bio,.github{
        display: flex;
        margin: 1rem;
        }
        .social{
        flex-direction: column;
        }
        .journey,.bio,.github{
            font-size: 0.9rem;
        }
        .social img, .home-container a img{
            width: 2rem;
            margin: 0.2rem;
        }
        .journey-container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            border: none;
        }
        .about-me-container{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}