header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items:center;
    z-index: 1000;
    box-shadow: 1px 0 15px gray;
}
header p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}
.social img{
    width: 2rem;
    margin: 0;
}
header a {
    color: black;
    transition: color 0.15s;
    margin: 0;
}
header a:hover{
    color: rgb(68, 66, 66);
}
header a:active{
    color: gray;
}
.home-container a img{
    padding-top: 4px;
    width: 2rem;
}
.hamburger-menu {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    
}
@media only screen and (max-width: 800px){
    .hamburger-menu{
        opacity: 1;
        display: flex;
        justify-content: start;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        cursor: pointer;
    }
    .social img, .home-container a img{
        width: 2rem;
        margin: 0.2rem;
        opacity: 0;
    }
    .social img{
        display: flex;
        flex-direction: column;
    }
    .home-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    header{
        flex-direction: column;
        align-items: center;
        left: 0;
        right: 18rem;
        padding-left: 0;
        background-color: transparent;
        box-shadow: none;
        transition: all 0.5s;
        border-radius: 4px;
        border-top-left-radius: 0;
        
    }
    header:hover{
        background-color: white;
        box-shadow: 1px 0 15px gray;
         p ,.social img, .home-container a img{
            opacity: 1;    
        }
        .hamburger-menu{
            opacity: 0;
        }
    }
    header p{
        padding-top: 1.5rem;
        font-size: 90%;
        margin-bottom: 2rem;
        opacity: 0;
    }
    .journey-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        border: none;
    }
    .about-me-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}