body{
    background-image: url(../images/space.jpg);
    background-size: 48rem;
    background-position-x: 40rem;
    background-position-y: -9rem;
}
main{
    font-family: "Protest Strike", sans-serif;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header:hover{
    .home-container{
        background-color: rgba(0,0,0,0.2);
    }
    
}
.full-name{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
}
.full-name h1{
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
}
.name-container{
    margin-bottom: 1rem;
    margin-right: 9rem;
}
.name{
    background-image: url(../images/italia.jpg);
    background-repeat: repeat;
    background-size: 15rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.second-name{
    background-image: url(../images/sadinia.png);
    background-position-y: 0.5rem;
    background-size: 5.5rem;
    background-position: -2rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.lastname-container{
    
    margin-left: 10rem;
}
.lastname{
    background-image: url(../images/german.jpg);
    background-repeat: repeat;
    background-size: 7.8rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.kinder-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.kinder{
    font-size: 2.1rem;
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(243, 232, 232);
}
.kinder-container img{
    width: 10rem;
    background-color: transparent;
}
.skills{
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 254);
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Chakra Petch";
    margin-bottom: 2rem;
}
.skills h2{
    margin: 0;
}
.skills ul{
    list-style-type: square; 
}
.bg-mention{
 position: absolute;
 bottom: 1.5rem;
 left: 4.3rem;
}
.bg-mention a{
    color: rgb(175, 175, 233);
    transition: opacity 0.15s;
}
.bg-mention a:hover{
    opacity: 0.7;
}
.bg-mention a:active{
    opacity: 0.4;
}
@media only screen and (min-width:801px){
    .home-container{
        background-color: rgba(0,0,0,0.2);
    }
}
@media only screen and (min-width:600px) and (max-width:1200px){
    .full-name{
        padding-top: 3rem;
    }
    .full-name h1{
        font-size: 8rem;
    }
    .name{
        background-size: 28rem;
    }
    .second-name{
        background-size: 9rem;
        background-position-x: -1rem;
        background-position-y: 2rem;
    }
    .lastname{
        background-size: 11.5rem;
        background-position-y: 1rem;
    }
    .kinder{
        font-size: 2.8rem;
        margin-top: 0;
    }
    .skills{
        justify-content: center;
    }
}
@media only screen and (min-width:1201px){
    .full-name{
        padding-top: 3rem;
    }
    .full-name h1{
        font-size: 6rem;
    }
    .name{
        background-size:21rem;
    }
    .second-name{
        background-size: 9rem;
        background-position-x: 1.5rem;
        background-position-y: 1.5rem;
    }
    .lastname{
        background-size: 10rem;
        background-position-y: 0.55rem;
    }
    .kinder{
        font-size: 2.8rem;
        margin-top: 0;
    }
    .name-container{
        margin-right: 30rem;
    }
    .lastname-container{
        margin-left: 30rem;
    }
    .skills{
        justify-content: center;
    }
}
