.title{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 4rem;
}
.icons8-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    padding-top: 1rem;
}
.icons8{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

}
.icons8 a{
    margin-bottom: 0.5rem;
}
.flaticon-container{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.icons8-author{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    font-size:1.5rem;
}

.icons8 img, .flaticon-container img{
    width: 1rem;
    margin-left: 0.5rem;
}
@media only screen and (min-width:650px) and (max-width:900px){
    .icons8 a, .flaticon-container{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .flaticon-container{
        margin-bottom: 2rem;
    }
    .icons8-author{
        font-size: 2.2rem;
        margin-right: 1.5rem;
    }
    .icons8 img, .flaticon-container img{
        width: 1.5rem;
        margin-left: 0.8rem;
    }
}
@media only screen and (min-width:901px){
    .icons8 a, .flaticon-container a{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .flaticon-container{
        margin-bottom: 2rem;
    }
    .icons8-author{
        font-size: 3rem;
        margin-right: 2rem;
    }
    .icons8 img, .flaticon-container img{
        width: 2rem;
        margin-left: 1rem;
    }
}